<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>filter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter-mapping>
    <filter-name>SecondFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>first</filter-name>
    <filter-class>com.iotek.filters.FirstFilter</filter-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>liayin</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>first</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>first</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>first</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SecondFilter</display-name>
    <filter-name>SecondFilter</filter-name>
    <filter-class>com.iotek.filters.SecondFilter</filter-class>
  </filter>
  <filter>
    <display-name>CharsetFilter</display-name>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>com.iotek.filters.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Form1Servlet</display-name>
    <servlet-name>Form1Servlet</servlet-name>
    <servlet-class>com.iotek.filters.Form1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form1Servlet</servlet-name>
    <url-pattern>/f1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.iotek.filters.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckFilter</display-name>
    <filter-name>CheckFilter</filter-name>
    <filter-class>com.iotek.filters.CheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TextServlet</display-name>
    <servlet-name>TextServlet</servlet-name>
    <servlet-class>com.iotek.filters.TextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextServlet</servlet-name>
    <url-pattern>/text.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TextFilter</display-name>
    <filter-name>TextFilter</filter-name>
    <filter-class>com.iotek.filters.TextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TextFilter</filter-name>
    <url-pattern>/text.do</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.iotek.listeners.TestServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.iotek.listeners.TestHttpSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.iotek.listeners.TestHttpServetRequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.iotek.listeners.CountUserListener</listener-class>
  </listener>
  <filter>
    <display-name>CountUserFilter</display-name>
    <filter-name>CountUserFilter</filter-name>
    <filter-class>com.iotek.listeners.CountUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CountUserFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>